<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Calculatrice</title>
</head>
<body>
    <p>Le premier nombre : {{ nbr1 }}</p>
    <p>Le deuxième nombre : {{ nbr2 }}</p>
    <p>Opérateur : {{ operateur }}</p>
    <p>Résultat : {{ resultat }}</p>
</body>
</html>
